.login-background {
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.login-header {
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem; /* Reduced font size */
  font-weight: 500;
  color: #2c3e50; /* A softer, professional color */
  margin: 0;
}

.container-fluid, .row {
  height: calc(100vh - 70px); /* Adjust 70px to match your header's height */
}

.login-form-container {
  width: 100%; /* Ensure the form container takes up space */
}

.button-container .btn {
  min-width: 200px;
}

.create-user-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.create-user-link:hover {
  text-decoration: underline;
}

.user-login-form {
  max-width: 400px;
  margin: 0 auto;
}

.user-login-form .form-control-sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.user-login-form .btn {
  min-width: 120px;
}

.position-relative {
  position: relative;
}

.position-relative .fas {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
